* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    padding: 16px;
    margin-bottom: 56px;
    background-color: #182c61;
}

.container2 {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

section .container2 {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

header nav li a {
    text-decoration: none;
    color: #fff;
}

section .container {
    display: flex;
    justify-content: space-between;
}

section h2, h3 {
    margin-left: 16px;
}

section h2 {
    margin-bottom: 35px;
    border-bottom: solid 2px #182c61;
    color: #182c61;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

.tenis img {
    max-width: 100%;
    margin-right: 8px;
}

section {
    margin-bottom: 32px;
}

.tenis h3, p {
    margin-left: 15px;
}

.tenis img {
    max-width: 100%;
    padding-left: 15px;
}

#produtos{
    margin-right: 30px;
}

.calcados {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 2%;
    row-gap: 5%;
}

button {
    margin: 16px;
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #2c3980;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-style: italic;
    border-radius: 6px;
} 


@media screen and (min-width: 768px) and (max-width: 1023px) {

    body{
        min-width: 500px;
        display: flex;
        flex-direction: column;
    }

    header{
        padding: 5px;
        width: 400px;
        margin-left: 15px;
    }
    

    header h1{
        font-size: 15px;
        width: 400px;
        margin-right: 60px;
        padding-left: 10px;
    }

    header nav a {
        font-size: 10px;
    }


    #sobre-a-loja img {
        margin-left: 16px;
        width:400px;
    }

    section .container {
        display: block;
    }

    section .container2 {
        display: block;
        
    }

    section h2, h3 {
        width: 350px;
        margin-right: 150px;
        font-size: 1em;
    }

    section h2 {
        margin-top: 10px;
    }

    section .produtos {
        padding: 16px 10%;
    }
    
    .conteudo {
        display: grid;
        grid-template-columns: 52% 46%;
        column-gap: 2%;
        
    }

    .tenis img {
        max-width: 100%;
    }

    .calcados {
        width: 400px;
        display: grid;
        grid-template-columns: repeat(2, 40%);
        column-gap: 10%;
        row-gap: 5%;
    }

    .produtos {
        height: 100px;
        width: 250px;
        position: absolute;
        top: 1px;
    }

    section .produtos h2 {
        
    }

}
@media (max-width: 767px) {

    header{
        padding: 20px;
        width: 250px;
    }

    header h1{
        font-size: 25px;
    }

    header a {
        font-size: 12px;
    }
    
    section .container2{
        display: block ;
    }

    #sobre-a-loja img {
        margin-left: 6px;
        width:90%;
    
    }

    .sobreloja {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .textoloja h2 {
        font-size: 20px;
    }

    .textoloja h3 {
        font-size: 15px;
    }

    .conteudo {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .calcados {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}